extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Luis Giraldo

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | Hi! my name is Luis Giraldo a Full Stack Web Developer, passionate about coding, problem solving, playing with layouts using imagination, and very dedicated to my work. Currently making a better version of myself.
            | When you don't see me coding, you can find me working out, reading a book or hiding in a relaxing place to meditate.
            br
            |I know you can find something that you like from this portfolio, so let's work together!
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li HTML
          li CSS
          li JavaScript
          li PHP
          li Node JS 
          li Express
          li Problem Solver
        h6 Contact Info

        //- Add your own contact info
        ul
          li 561-460-7392
          li lugirva@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/luisgiraldov/') LinkedIn
        a.button.expanded(href='https://github.com/luisgiraldov') GitHub
        a.button.expanded(href='#') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  